Repository PhoenixSparta/Phoenix-Logistics, pull requests merged in 2024-09, with the labels that each got.

#4 ✨ feat: 유저 storage 모듈 생성
  core/core-enum/src/main/java/com/phoenix/logistics/core/enums/RoleType.java
  settings.gradle
  storage/db-core-user/build.gradle
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/config/CoreDataSourceConfig.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/config/CoreJpaConfig.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/entity/BaseEntity.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/entity/User.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/repository/UserRepository.java
  storage/db-core-user/src/main/resources/db-core-user.yml
  storage/db-core-user/src/test/java/com/phoenix/logistics/storage/db/core/user/DbCoreUserApplicationTests.java
  storage/db-core-user/src/test/java/com/phoenix/logistics/storage/db/core/user/LocalProfileTest.java
  storage/db-core-user/src/test/java/com/phoenix/logistics/storage/db/core/user/UserRepositoryTest.java
  storage/db-core-user/src/test/resources/application.yml
Labels: ✨ Feature, ⚙️ Setting, ✅ Test

#5 ✨ feat: 허브 storage, enum 모듈 생성
  .github/CODEOWNERS
  core/core-hub-enum/build.gradle
  core/core-hub-enum/src/main/java/com/phoenix/logistics/core/hub/enums/ExampleEnum.java
  gradle.properties
  settings.gradle
  storage/db-core-hub/build.gradle
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/config/CoreDataSourceConfig.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/config/CoreJpaConfig.java
  storage/db-core-hub/src/main/resources/db-core-hub.yml
  storage/db-core-hub/src/test/java/com/phoenix/logistics/storage/db/CoreDbContextTest.java
  storage/db-core-hub/src/test/java/com/phoenix/logistics/storage/db/CoreDbTestApplication.java
  storage/db-core-hub/src/test/resources/application.yml
Labels: ✨ Feature, ⚙️ Setting

#6 ✨ feat: Product API, Storage 모듈 추가
  core/core-product-api/build.gradle
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/ProductApiApplication.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/domain/model/Product.java
  core/core-product-api/src/main/resources/application.yml
  core/core-product-api/src/test/java/com/phoenix/logistics/core/product/ProductApiApplicationTests.java
  gradle/wrapper/gradle-wrapper.jar
  gradlew.bat
  settings.gradle
  storage/db-core-product/build.gradle
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/config/CoreDataSourceConfig.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/config/CoreJpaConfig.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/entity/BaseEntity.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/entity/ProductEntity.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/persistence/JpaProductRepository.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/repository/ProductRepository.java
  storage/db-core-product/src/main/resources/db-core-product.yml
  storage/db-core-product/src/test/java/com/phoenix/logistics/storage/db/CoreDbContextTest.java
  storage/db-core-product/src/test/java/com/phoenix/logistics/storage/db/CoreDbTestApplication.java
  storage/db-core-product/src/test/resources/application.yml
Labels: ✨ Feature, ⚙️ Setting

#10 ✨ feat: 유저core 모듈 생성
  core/core-enum/src/main/java/com/phoenix/logistics/core/enums/RoleType.java
  core/core-user/build.gradle
  core/core-user/src/main/java/com/phoenix/logistics/CoreUserApplication.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/SecurityConfig.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/AuthController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/dto/request/UserSignupRequest.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/UserService.java
  core/core-user/src/main/resources/application.yml
  core/core-user/src/test/java/com/phoenix/logistics/core/user/CoreUserApplicationTests.java
  core/core-user/src/test/java/com/phoenix/logistics/core/user/UserServiceTest.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/entity/User.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/repository/UserRepository.java
Labels: ✨ Feature, ⚙️ Setting, ✅ Test

#11 ✨ feat: 허브 DB 모듈 베이스 코드 추가
  storage/db-core-hub/build.gradle
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/BaseEntity.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubEntity.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubLinkEntity.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubLinkRepository.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubManagerEntity.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubManagerRepository.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubRepository.java
  storage/db-core-hub/src/test/java/com/phoenix/logistics/storage/db/core/hub/HubLinkRepositoryIT.java
  storage/db-core-hub/src/test/java/com/phoenix/logistics/storage/db/core/hub/HubManagerRepositoryIT.java
  storage/db-core-hub/src/test/java/com/phoenix/logistics/storage/db/core/hub/HubRepositoryIT.java
Labels: ✨ Feature, ⚙️ Setting, ✅ Test

#15 :sparkles: feat: 상품 API 모듈 구조
  core/core-product-api/src/main/java/com/phoenix/logistics/ProductApiApplication.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/application/service/ProductService.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/domain/repository/ProductRepository.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/domain/repository/ProductRepositoryImpl.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/presentation/controller/ProductController.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/config/CoreDataSourceConfig.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/persistence/JpaProductRepository.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/repository/ProductRepository.java
Labels: ✨ Feature, ⚙️ Setting

#16 ✨ feat: 로그인기능구현
  core/core-user/build.gradle
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/jwt/JwtUtil.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/AuthController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/dto/request/UserLoginRequest.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/UserService.java
  core/core-user/src/main/resources/application.yml
  core/core-user/src/test/java/com/phoenix/logistics/core/user/UserServiceTest.java
  settings.gradle
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/repository/UserRepository.java
Labels: ✨ Feature, ⚙️ Setting, ✅ Test

#20 ✨ feat: 허브 API, 도메인 모듈 추가
  core/core-hub-api/build.gradle
  core/core-hub-api/src/docs/asciidoc/index.adoc
  core/core-hub-api/src/main/java/com/phoenix/logistics/CoreHubApiApplication.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/config/AsyncConfig.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/config/AsyncExceptionHandler.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/controller/ApiControllerAdvice.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/controller/HealthController.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/support/error/CoreApiException.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/support/error/ErrorCode.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/support/error/ErrorMessage.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/support/error/ErrorType.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/support/response/ApiResponse.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/support/response/ResultType.java
  core/core-hub-api/src/main/resources/application.yml
  core/core-hub-api/src/test/java/com/phoenix/logistics/ContextTest.java
  core/core-hub-api/src/test/java/com/phoenix/logistics/CoreHubApiApplicationTest.java
  core/core-hub-api/src/test/java/com/phoenix/logistics/DevelopTest.java
  core/core-hub-domain/build.gradle
  core/core-hub-enum/build.gradle
  core/core-hub-enum/src/main/java/com/phoenix/logistics/core/hub/enums/ExampleEnum.java
  settings.gradle
  storage/db-core-hub/build.gradle
Labels: ✨ Feature, ⚙️ Setting

#21 ✨ feat: jwt인증&사용자조회
  core/core-user/build.gradle
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/SecurityConfig.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/jwt/CustomUserDetails.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/jwt/JwtAuthorizationFilter.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/jwt/JwtUtil.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/UserController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/UserService.java
  core/core-user/src/test/java/com/phoenix/logistics/core/user/JwtAuthorizationFilterTest.java
  core/core-user/src/test/java/com/phoenix/logistics/core/user/UserServiceTest.java
Labels: ✨ Feature, ✅ Test

#23 :sparkles: feat: 상품 추가
  core/core-product-api/build.gradle
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/application/service/ProductService.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/domain/model/Product.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/domain/repository/ProductRepository.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/domain/repository/ProductRepositoryImpl.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/presentation/controller/ProductController.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/presentation/controller/dto/request/CreateProductRequest.java
  core/core-product-api/src/test/java/com/phoenix/logistics/core/product/ProductServiceTest.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/entity/ProductEntity.java
Labels: ✨ Feature, ✅ Test

#25 :art: refactor: 상품 도메인 모듈 분리
  core/core-product-api/build.gradle
  core/core-product-api/src/main/resources/core-product-api.yml
  core/core-product-domain/build.gradle
  core/core-product-domain/src/main/java/com/phoenix/logistics/core/product/domain/model/Product.java
  core/core-product-domain/src/main/java/com/phoenix/logistics/core/product/domain/repository/ProductRepository.java
  core/core-product-domain/src/main/resources/core-product-domain.yml
  settings.gradle
  storage/db-core-product/build.gradle
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/persistence/ProductRepositoryImpl.java
Labels: 🔨 Refactor

#28 🎨 refactor: auth/user분리
  core/core-auth/build.gradle
  core/core-auth/src/main/java/com/phoenix/logistics/CoreAuthApplication.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/config/SecurityConfig.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/config/jwt/JwtUtil.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/controller/AuthController.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/controller/dto/request/UserLoginRequest.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/controller/dto/request/UserSignupRequest.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/domain/UserService.java
  core/core-auth/src/main/resources/application.yml
  core/core-auth/src/test/java/com/phoenix/logistics/core/auth/CoreAuthApplicationTests.java
  core/core-auth/src/test/java/com/phoenix/logistics/core/auth/UserServiceTest.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/jwt/JwtUtil.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/UserService.java
  core/core-user/src/test/java/com/phoenix/logistics/core/user/UserServiceTest.java
  settings.gradle
Labels: 🔨 Refactor, ⚙️ Setting

#30 🎨 refactor: apigateway생성
  core/core-apigateway/build.gradle
  core/core-apigateway/src/main/java/com/phoenix/logistics/core/apigateway/CoreApigatewayApplication.java
  core/core-apigateway/src/main/java/com/phoenix/logistics/core/apigateway/api/config/SecurityConfig.java
  core/core-apigateway/src/main/resources/application.yml
  core/core-apigateway/src/test/java/com/phoenix/logistics/core/apigateway/CoreApigatewayApplicationTests.java
  core/core-auth/src/main/resources/application.yml
  settings.gradle
Labels: ⚙️ Setting

#32 ✨ feat: redis생성
  settings.gradle
  storage/db-core-redis/build.gradle
  storage/db-core-redis/src/main/java/com/phoenix/logistics/db/core/redis/config/RedisConfig.java
  storage/db-core-redis/src/main/java/com/phoenix/logistics/db/core/redis/service/RedisService.java
  storage/db-core-redis/src/main/java/com/phoenix/logistics/db/core/redis/service/RedisServiceImpl.java
  storage/db-core-redis/src/main/resources/db-core-redis.yml
  storage/db-core-redis/src/test/java/com/phoenix/logistics/db/core/redis/DbCoreRedisApplicationTests.java
  storage/db-core-redis/src/test/java/com/phoenix/logistics/db/core/redis/RedisServiceImplTest.java
  storage/db-core-redis/src/test/resources/application.yml
Labels: ✨ Feature, ⚙️ Setting, ✅ Test

#34 ✨ feat: auth jwt파싱
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/config/jwt/JwtUtil.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/controller/AuthController.java
  core/core-auth/src/test/java/com/phoenix/logistics/core/auth/AuthControllerTest.java
Labels: ✨ Feature, ✅ Test

#38 ✨ feat: gateway 필터생성
  core/core-apigateway/build.gradle
  core/core-apigateway/src/main/java/com/phoenix/logistics/CoreApigatewayApplication.java
  core/core-apigateway/src/main/java/com/phoenix/logistics/core/apigateway/api/config/JwtAuthenticationFilter.java
  core/core-apigateway/src/main/resources/application.yml
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/controller/AuthController.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/controller/HealthController.java
  core/core-auth/src/test/java/com/phoenix/logistics/core/auth/AuthControllerTest.java
Labels: ✨ Feature

#40 ✨ feat: 허브 등록 기능
  core/core-hub-api/build.gradle
  core/core-hub-api/src/docs/asciidoc/index.adoc
  core/core-hub-api/src/http/v1/hub.http
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/controller/v1/HubController.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/controller/v1/request/HubRegistrationRequest.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/controller/v1/response/HubRegistrationResponse.java
  core/core-hub-api/src/main/resources/application.yml
  core/core-hub-api/src/test/java/com/phoenix/logistics/core/hub/api/controller/v1/HubControllerTest.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/Hub.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/HubRegister.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/HubRepository.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/HubService.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/HubWithUuid.java
  core/core-hub-domain/src/test/java/com/phoenix/logistics/core/hub/domain/HubRegisterTest.java
  core/core-hub-domain/src/test/java/com/phoenix/logistics/core/hub/domain/HubServiceTest.java
  storage/db-core-hub/build.gradle
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubCoreRepository.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubEntity.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubJpaRepository.java
  storage/db-core-hub/src/test/java/com/phoenix/logistics/storage/db/core/hub/HubCoreRepositoryIT.java
  storage/db-core-hub/src/test/java/com/phoenix/logistics/storage/db/core/hub/HubJpaRepositoryIT.java
Labels: ✨ Feature, ✅ Test

#44 :sparkles: feat: 허브 수정 API
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/api/controller/ProductController.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/api/controller/dto/request/CreateProductRequest.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/api/controller/dto/request/ModifyProductRequest.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/api/controller/dto/request/SearchProductsRequest.java
  core/core-product-domain/build.gradle
  core/core-product-domain/src/main/java/com/phoenix/logistics/core/product/domain/model/Product.java
  core/core-product-domain/src/main/java/com/phoenix/logistics/core/product/domain/repository/ProductRepository.java
  core/core-product-domain/src/main/java/com/phoenix/logistics/core/product/domain/service/ProductService.java
  core/core-product-domain/src/test/java/com/phoenix/logistics/core/product/domain/ProductServiceTest.java
  storage/db-core-product/build.gradle
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/entity/ProductEntity.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/implement/ProductRepositoryAdapter.java
Labels: ✨ Feature

#48 :sparkles: feat: 상품 단건 조회 API
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/api/controller/ProductController.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/api/controller/dto/request/ModifyProductRequest.java
  core/core-product-api/src/main/java/com/phoenix/logistics/core/product/api/controller/dto/request/SearchProductsRequest.java
  core/core-product-domain/src/main/java/com/phoenix/logistics/core/product/domain/model/Product.java
  core/core-product-domain/src/main/java/com/phoenix/logistics/core/product/domain/service/ProductService.java
  core/core-product-domain/src/test/java/com/phoenix/logistics/core/product/domain/ProductServiceTest.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/entity/ProductEntity.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/implement/ProductRepositoryAdapter.java
Labels: ✨ Feature

#47 ✨ feat: 인가 모듈 생성
  core/core-user/build.gradle
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/SecurityConfig.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/jwt/CustomUserDetails.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/jwt/JwtAuthorizationFilter.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/config/jwt/JwtUtil.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/RoleBasedController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/UserController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/UserService.java
  core/core-user/src/main/resources/application.yml
  core/core-user/src/test/java/com/phoenix/logistics/core/user/JwtAuthorizationFilterTest.java
  core/core-user/src/test/java/com/phoenix/logistics/core/user/UserServiceTest.java
  settings.gradle
  support/support-authentication/build.gradle
  support/support-authentication/src/main/java/com/phoenix/logistics/support/authentication/security/AuthorityMapperConfig.java
  support/support-authentication/src/main/java/com/phoenix/logistics/support/authentication/security/RoleHierarchyConfig.java
  support/support-authentication/src/main/java/com/phoenix/logistics/support/authentication/security/SecurityConfig.java
  support/support-authentication/src/main/java/com/phoenix/logistics/support/authentication/security/SecurityUtil.java
  support/support-authentication/src/main/java/com/phoenix/logistics/support/authentication/security/filter/CustomAuthenticationFilter.java
Labels: ✨ Feature, ⚙️ Setting

#52 Feat/51 auth user db 연결성제거
  clients/client-user/build.gradle
  clients/client-user/src/main/java/com/phoenix/logistics/client/user/UserApi.java
  clients/client-user/src/main/java/com/phoenix/logistics/client/user/UserClient.java
  clients/client-user/src/main/java/com/phoenix/logistics/client/user/UserConfig.java
  clients/client-user/src/main/java/com/phoenix/logistics/client/user/UserRequestDto.java
  clients/client-user/src/main/java/com/phoenix/logistics/client/user/UserResponseDto.java
  clients/client-user/src/main/java/com/phoenix/logistics/client/user/model/UserClientResult.java
  clients/client-user/src/main/resources/client-user.yml
  clients/client-user/src/test/java/com/phoenix/logistics/client/user/ClientUserApplicationTests.java
  core/core-auth/build.gradle
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/config/SecurityConfig.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/api/controller/AuthController.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/domain/AuthService.java
  core/core-auth/src/main/java/com/phoenix/logistics/core/auth/domain/UserService.java
  core/core-auth/src/main/resources/application.yml
  core/core-auth/src/test/java/com/phoenix/logistics/core/auth/AuthServiceTest.java
  core/core-auth/src/test/java/com/phoenix/logistics/core/auth/UserServiceTest.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/ClientController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/dto/UserRequestDto.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/dto/UserResponseDto.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/UserService.java
  settings.gradle
Labels: ✨ Feature, 🔨 Refactor, ⚙️ Setting

#50 :sparkles: feat: 주문 모듈 추가
  core/core-order-api/build.gradle
  core/core-order-api/src/main/java/com/phoenix/logistics/OrderApiApplication.java
  core/core-order-api/src/main/java/com/phoenix/logistics/core/order/api/controller/OrderController.java
  core/core-order-api/src/main/resources/core-order-api.yml
  core/core-order-api/src/test/java/com/phoenix/logistics/core/order/OrderApiApplicationTests.java
  core/core-order-domain/build.gradle
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/model/Order.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/model/ProductOrder.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/repository/OrderRepository.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/service/OrderService.java
  core/core-order-domain/src/main/resources/core-order-domain.yml
  settings.gradle
  storage/db-core-order/build.gradle
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/config/CoreDataSourceConfig.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/config/CoreJpaConfig.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/config/CoreQueryDslConfig.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/entity/OrderEntity.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/entity/ProductOrderEntity.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/entity/ProductOrderPk.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/implement/JpaOrderRepository.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/implement/OrderRepositoryAdapter.java
  storage/db-core-order/src/main/resources/db-core-order.yml
  storage/db-core-order/src/test/java/com/phoenix/logistics/storage/db/CoreDbContextTest.java
  storage/db-core-order/src/test/java/com/phoenix/logistics/storage/db/CoreDbTestApplication.java
  storage/db-core-order/src/test/resources/application.yml
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/implement/ProductRepositoryAdapter.java
Labels: ✨ Feature, ⚙️ Setting

#57 ✨ feat: 허브 검색 및 목록 조회 기능
  core/core-hub-api/src/docs/asciidoc/index.adoc
  core/core-hub-api/src/http/v1/hub.http
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/controller/v1/HubController.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/controller/v1/response/HubResponse.java
  core/core-hub-api/src/main/java/com/phoenix/logistics/core/hub/api/support/response/SliceResult.java
  core/core-hub-api/src/test/java/com/phoenix/logistics/core/hub/api/controller/v1/HubControllerTest.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/Cursor.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/HubFinder.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/HubRepository.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/HubService.java
  core/core-hub-domain/src/main/java/com/phoenix/logistics/core/hub/domain/SortDirection.java
  core/core-hub-domain/src/test/java/com/phoenix/logistics/core/hub/domain/HubFinderTest.java
  core/core-hub-domain/src/test/java/com/phoenix/logistics/core/hub/domain/HubServiceTest.java
  storage/db-core-hub/src/main/java/com/phoenix/logistics/storage/db/core/hub/HubCoreRepository.java
  storage/db-core-hub/src/test/java/com/phoenix/logistics/storage/db/core/hub/HubCoreRepositoryIT.java
Labels: ✨ Feature, ✅ Test

#55 ✨ feat: user 삭제 구현
  clients/client-user/src/main/java/com/phoenix/logistics/client/user/UserApi.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/ClientController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/UserController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/UserService.java
  core/core-user/src/test/java/com/phoenix/logistics/core/user/UserServiceTest.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/entity/User.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/repository/UserRepository.java
  support/support-authentication/src/main/java/com/phoenix/logistics/support/authentication/security/SecurityConfig.java
Labels: ✨ Feature, ✅ Test

#59 ✨ feat: user admin api
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/UserController.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/UserService.java
  core/core-user/src/test/java/com/phoenix/logistics/core/user/UserServiceTest.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/entity/User.java
  storage/db-core-user/src/main/java/com/phoenix/logistics/storage/db/core/user/repository/UserRepository.java
Labels: ✨ Feature

#62 :package: chore: monitoring 도구 생성
  support/monitoring/prometheus/prometheus.yml
  support/monitoring/prometheus/sample.txt
  support/monitoring/src/main/resources/monitoring.yml
  support/support-authentication/src/main/java/com/phoenix/logistics/support/authentication/security/SecurityConfig.java
Labels: ⚙️ Setting

#64 :package: chore: Eureka 서버 설정 & 서비스 연결 확인
  core/core-eureka/build.gradle
  core/core-eureka/src/main/java/com/phoenix/logistics/coreeureka/CoreEurekaApplication.java
  core/core-eureka/src/main/resources/application.yml
  core/core-eureka/src/test/java/com/phoenix/logistics/coreeureka/CoreEurekaApplicationTests.java
  core/core-user/build.gradle
  core/core-user/src/main/resources/application.yml
  settings.gradle
Labels: ⚙️ Setting

#66 ✨ feat: 배송 서비스 모듈 추가
  core/core-delivery-api/build.gradle
  core/core-delivery-api/src/docs/asciidoc/index.adoc
  core/core-delivery-api/src/main/java/com/phoenix/logistics/CoreDeliveryApiApplication.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/config/AsyncConfig.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/config/AsyncExceptionHandler.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/ApiControllerAdvice.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/HealthController.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/support/error/CoreApiException.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/support/error/ErrorCode.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/support/error/ErrorMessage.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/support/error/ErrorType.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/support/response/ApiResponse.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/support/response/ResultType.java
  core/core-delivery-api/src/main/resources/application.yml
  core/core-delivery-api/src/test/java/com/phoenix/logistics/ContextTest.java
  core/core-delivery-api/src/test/java/com/phoenix/logistics/CoreDeliveryApiApplicationTest.java
  core/core-delivery-api/src/test/java/com/phoenix/logistics/DevelopTest.java
  core/core-delivery-domain/build.gradle
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/Cursor.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/SortDirection.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/Timestamp.java
  settings.gradle
  storage/db-core-delivery/build.gradle
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/BaseEntity.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/ExampleEntity.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/ExampleRepository.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/config/CoreDataSourceConfig.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/config/CoreJpaConfig.java
  storage/db-core-delivery/src/main/resources/db-core-delivery.yml
  storage/db-core-delivery/src/test/java/com/phoenix/logistics/storage/db/CoreDbContextTest.java
  storage/db-core-delivery/src/test/java/com/phoenix/logistics/storage/db/CoreDbTestApplication.java
  storage/db-core-delivery/src/test/java/com/phoenix/logistics/storage/db/core/ExampleRepositoryIT.java
  storage/db-core-delivery/src/test/resources/application.yml
Labels: ✨ Feature, ⚙️ Setting

#69 :sparkles: feat: H2-DB 기본 Admin 유저 생성
  core/core-user/build.gradle
  core/core-user/src/main/java/com/phoenix/logistics/core/user/domain/AdminAccountInitializer.java
  core/core-user/src/main/resources/application.yml
  support/support-authentication/src/main/java/com/phoenix/logistics/support/authentication/security/SecurityConfig.java
Labels: ✨ Feature

#70 ✨ feat: 배송 요청 기능
  core/core-delivery-api/src/http/v1/delivery.http
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/DeliveryController.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/request/DeliveryRegistrationRequest.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/response/DeliveryRegistrationResponse.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/Delivery.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryRegister.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryRepository.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryResult.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryService.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryStaff.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryWithUuid.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/Hub.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/Order.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/Recipient.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/ExampleEntity.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/ExampleRepository.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/BaseEntity.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryCoreRepository.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryEntity.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryJpaRepository.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/config/CoreDataSourceConfig.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/config/CoreJpaConfig.java
  storage/db-core-delivery/src/test/java/com/phoenix/logistics/storage/db/core/ExampleRepositoryIT.java
Labels: ✨ Feature, ✅ Test

#72 :sparkles: feat: 배송 client
  clients/client-delivery/build.gradle
  clients/client-delivery/gradle/wrapper/gradle-wrapper.jar
  clients/client-delivery/gradle/wrapper/gradle-wrapper.properties
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/DeliveryClientAdapter.java
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/DeliveryClientConfig.java
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/FeignDeliveryClient.java
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/dto/CreateDeliveryRequest.java
  clients/client-delivery/src/main/resources/client-delivery.yml
  clients/client-delivery/src/test/java/com/phoenix/logistics/client/delivery/ClientDeliveryApplicationTests.java
  core/core-order-api/build.gradle
  core/core-order-api/src/main/resources/core-order-api.yml
  core/core-order-api/src/test/java/com/phoenix/logistics/core/order/CoreOrderApiApplicationTest.java
  core/core-order-api/src/test/java/com/phoenix/logistics/core/order/OrderApiApplicationTests.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/client/DeliveryClient.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/model/Order.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/repository/OrderRepository.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/service/OrderService.java
  core/core-product-api/src/main/resources/core-product-api.yml
  settings.gradle
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/entity/OrderEntity.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/implement/OrderRepositoryAdapter.java
Labels: ✨ Feature

#79 :sparkles: feat: postgres, eureka
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/FeignDeliveryClient.java
  core/core-apigateway/src/main/resources/application.yml
  core/core-order-api/build.gradle
  core/core-order-api/src/main/resources/application.yml
  core/core-order-api/src/main/resources/core-order-api.yml
  core/core-product-api/build.gradle
  core/core-product-api/src/main/resources/application.yml
  core/core-product-api/src/main/resources/core-product-api.yml
  storage/db-core-order/src/main/resources/db-core-order.yml
  storage/db-core-product/src/main/resources/db-core-product.yml
Labels: ⚙️ Setting

#80 ✨ feat: 배송 조회 기능
  core/core-delivery-api/src/http/v1/delivery.http
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/DeliveryController.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/response/DeliveryResponse.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryReader.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryRepository.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryService.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryCoreRepository.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryEntity.java
Labels: ✨ Feature

#81 :bug: fix: pathVariable, response
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/DeliveryClientAdapter.java
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/FeignDeliveryClient.java
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/dto/DeliveryResponse.java
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/dto/DeliveryResponseData.java
  core/core-user/src/main/java/com/phoenix/logistics/core/user/api/controller/ClientController.java
Labels: 🐞 Bug

#82 ✨ feat: 배송 로그 기록 및 조회 기능
  core/core-delivery-api/src/http/v1/delivery.http
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/DeliveryController.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/DeliveryLogController.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/response/DeliveryLogResponse.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/response/DeliveryRegistrationResponse.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/CurrentStatus.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLog.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogAppender.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogReader.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogRepository.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogResult.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogService.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogWithUuid.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryRegister.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryService.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryStatus.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/Link.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryLogCoreRepository.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryLogEntity.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryLogJpaRepository.java
Labels: ✨ Feature

#83 ✨ feat: 배송 경로 기록 기능
  core/core-delivery-api/src/http/v1/delivery.http
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/DeliveryLogController.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/request/DeliveryLogUpdateRequest.java
  core/core-delivery-api/src/main/java/com/phoenix/logistics/core/delivery/api/controller/v1/request/DeliveryStatusRequest.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogModifier.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogRepository.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryLogService.java
  core/core-delivery-domain/src/main/java/com/phoenix/logistics/core/delivery/domain/DeliveryRecord.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryLogCoreRepository.java
  storage/db-core-delivery/src/main/java/com/phoenix/logistics/storage/db/core/delivery/DeliveryLogEntity.java
Labels: ✨ Feature

#87 ✅ test: E2E API 시나리오 테스트
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/DeliveryClientAdapter.java
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/dto/CreateDeliveryRequest.java
  clients/client-delivery/src/main/java/com/phoenix/logistics/client/delivery/dto/DeliveryResponseData.java
  core/core-hub-api/src/http/v1/hub.http
  core/core-order-api/src/main/java/com/phoenix/logistics/core/order/api/controller/OrderController.java
  core/core-order-api/src/main/java/com/phoenix/logistics/core/order/api/controller/dto/CreateOrderRequest.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/client/DeliveryClient.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/model/DeliveryUuidWithLogUuid.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/model/Order.java
  core/core-order-domain/src/main/java/com/phoenix/logistics/core/product/domain/service/OrderService.java
  storage/db-core-order/src/main/java/com/phoenix/logistics/storage/db/core/order/config/CoreDataSourceConfig.java
  storage/db-core-product/src/main/java/com/phoenix/logistics/storage/db/core/product/entity/ProductEntity.java
  tests/http/scenario/v1/e2e_order.http
Labels: 🐞 Bug, 📝 Docs, ✨ Feature, ✅ Test
